body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1;
  }

  textarea{
    background: top;
    border: thin;
    resize: none;
    color: #000000;
    border-left: 1px solid grey;
    padding: 10px;
  }
  

  .jumbotron {
    text-align: center;
    background-color: green;
    opacity: 0.6;
    color:rgb(255, 204, 102);
    border-radius: 0;
    border-bottom:4px solid blue;
  }

  #spanbox{
    size: 20px;
    border-width: 2px;
  }
